---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Impressum – Mount AI">
  <section class="section">
    <div class="container">
      <h1>Impressum</h1>
    
      <h2 class="mt-lg">Angaben gemäß § 5 TMG</h2>
      <p>
        Yazan Agha-Schrader<br>
        Schleussner Straße 90<br>
        63263 Neu-Isenburg
      </p>

      <h2 class="mt-lg">Kontakt</h2>
      <p>
        Telefon: +49 160 94 95 89 55<br>
        E-Mail: kontakt@mountai.de
      </p>

      <h2 class="mt-lg">Umsatzsteuer-ID</h2>
      <p>
        Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:<br>
        USt-IdNr. 044 801 32090
      </p>

      <h2 class="mt-lg">Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h2>
      <p>
        Lara Agha, Yazan Agha-Schrader<br>
        Schleussner Straße 90<br>
        63263 Neu-Isenburg
      </p>
    </div>
  </section>
</BaseLayout>